/*
	Theme Name: CTAS
	Author: Bhakti Pasaribu
	Author URI: http://sumatrastudio.com
	Version: 1.0
*/

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Merriweather:wght@300;700&display=swap');

// base
@import 'base/flickity.css'
@import 'base/var.styl'
@import 'mixins/breakpoints.styl'
@import 'mixins/general.styl'

// components
@import 'components/tailwind-addon.styl'
@import 'components/general.styl'
@import 'components/header.styl'
@import 'components/footer.styl'
@import 'components/page.styl'
