html
	font-size 16px

html[lang=en]
	margin 0 !important

body
	color terminal
	background linear-gradient(to bottom, nodal, nucleus)
	background-attachment fixed
	&:before
		// content ''
		position fixed
		top 16rem
		height 1px
		left 0
		width 100%
		background nucleus
		z-index 2

p
	a
		text-decoration underline

.mobile-padding
	+below(md)
		padding-left mobilePadding
		padding-right mobilePadding

containerGap = 6.5vw
.container
	+above(md)
		margin-left containerGap
		margin-right containerGap
	+below(md)
		padding-left mobilePadding
		padding-right mobilePadding

.main-flex
	#content
		background-attachment fixed

	+above(md)
		aside
			min-width navWidth[0]
			.nav-inner
				width navWidth[0]
				box-sizing border-box
		#content
			width calcx('-', navWidth[0])

	+between(768px, 950px, true)
		aside
			min-width navWidth[1]
			.nav-inner
				width navWidth[1]
		#content
			width calcx('-', navWidth[1])

section
	.section-label
		font-size 0.875rem
		letter-spacing 1.5px
		line-height 2.35
		text-transform uppercase
	.section-title
		position relative
		top -2px
		line-height 1.35
		font-size 1.875rem
		font-family fontDisplay

	+below(md)
		.section-title
			font-size 1.5rem
			line-height 1.5
			br
				display none

.bg-nodal + footer
	background nodal

.footer-absolute + footer
	position absolute




// button
.button
	letter-spacing 1px
	padding 9px 20px
	transition .3s all ease
	text-transform uppercase
	border-radius 50px
	font-size .75rem
	line-height 1
	transition .3s all ease
	align-items center
	display inline-flex

	&.is-ghost
		border-width 1px
		border-style solid

	&.is-sm
		font-size .7rem
		padding 8px 18px

	&.is-lg
		padding 14px 30px
		font-size 1rem
		font-weight 400

	&.border-white
		&:hover
			background white

	&.border-terminal
		&:hover
			background terminal
			color white



// carousel
.carousel
	.flickity-page-dots
		order -1
		position relative
		bottom unset



// h screen
.h-screen-header
	+above(md)
		min-height calc(100vh - 5rem)

.bg-blend
	background-position center center
	background-size cover
	position relative
	background-color nodal
	background-blend-mode multiply




// join plans
.plans
	.plan
		display inline-flex
		position relative
		&:before
			content ''
			display block
			square(20px)
			minSquare(20px)
			border-radius 50%
			margin-right 20px
			background rgba(255,255,255,.25)
			position relative
			top 4px
		&:after
			content ''
			position absolute
			top 9px
			left 5px
			square(10px)
			border-radius 50%
			display block
			background nucleus
			opacity 0
			transition .3s all ease

		&.is-active
			color nucleus
			&:after
				opacity 1

// rounded xl
.rounded-xl
	border-radius 50px



// CTAS form
.input
	color terminal
	border-radius 50px
	padding 0.75rem 1rem
	font-size 0.875rem
	background rgba(255, 255, 255, .25)
	transition .3s all ease
	border none
	&:focus
		outline none
		background rgba(255, 255, 255, .75)

.ctas-form

	.blockOverlay,
	.blockMsg
		display none !important

	.rcp_user_fieldset,
	.rcp_card_fieldset,
	.rcp_login_data
		label
			letter-spacing 0.1em
			font-size 0.75rem
			text-transform uppercase
			margin-bottom .5rem

	.rcp_form
		input[type=text],
		input[type=password],
		select
			@extends .input
			width 100%

		#rcp_card_exp_wrap
			display flex
			flex-wrap wrap
			justify-content space-between
			align-items center
			label
				width 100%
				flex-basis 100%
			select
				width 45%

		input[type=submit]
			text-transform uppercase
			letter-spacing 0.1em
			text-align center
			border-radius 50px
			padding 0.75rem 1rem
			display block
			transition .3s all ease
			width 100%
			background nucleus
			font-size 0.875rem
			cursor pointer
			&:hover
				background darken(nucleus, 15)

		#rcp_user_remember
			margin 0
			margin-right 10px
			border none
			position relative
			top 1px

		.rcp_lost_password
			margin 30px 0 10px
			text-align center



// WP DATA TABLES
.report-wrapper
	h2
		position relative
		top -2px
		line-height 1.35
		font-size 1.875rem
		font-family fontDisplay
		font-weight 700

	+below(md)
		h2
			font-size 1.5rem
			line-height 1.5

.wpDataTablesWrapper.wpDataTablesWrapper
	margin-bottom 0

.wpDataTables .dataTables_filter
	[type=search]
		@extends .input
		padding .75rem 1rem !important
		margin-left 10px
		&:focus
			background rgba(255,255,255,.75) !important

.wpdt-c.wpdt-c .bootstrap-select > .btn-default
	@extends .input
	border none !important
	background rgba(255,255,255,.25) !important
	display inline-flex
	align-items center

.wpDataTablesWrapper.wpDataTablesWrapper .dataTables_length span.filter-option
	margin-left 0

.wpdt-c.wpdt-c .bootstrap-select > .btn-default:before
	right 15px

.wpDataTablesWrapper table.wpDataTable tr:last-child td
	border-right none

.wpDataTablesWrapper table.wpDataTable tr td:first-child
	border-left none

.wpDataTablesWrapper.wpDataTablesWrapper table.wpDataTable
	margin-bottom 0

.wpDataTablesWrapper div.wdtscroll
	border-radius 8px
	margin-bottom 20px

.wpDataTablesWrapper table.wpDataTable > tbody > tr > td, .wpDataTablesWrapper table.wpDataTable > tfoot > tr > td
	border-bottom none !important

.wpDataTablesWrapper.wpDataTablesWrapper .dataTables_paginate
	margin-top 0

.wpDataTablesWrapper.wpDataTablesWrapper .dataTables_paginate .paginate_button
	color white

.wpDataTablesWrapper .dataTables_paginate .paginate_button.disabled:before, .wpDataTablesWrapper .dataTables_paginate .paginate_button.disabled:hover:before, .wpDataTablesWrapper .dataTables_paginate .paginate_button.disabled:active:before
	color white !important

.wpDataTablesWrapper.wpDataTablesWrapper .dataTables_paginate .paginate_button
	min-height 1.5rem
	border-radius 50%

.wpDataTablesWrapper.wpDataTablesWrapper
	.dataTables_paginate .paginate_button.current,
	.dataTables_paginate .paginate_button.current:hover
		color white !important
		background nucleus !important
	.dataTables_paginate .paginate_button.current
		font-bold

.wpDataTablesWrapper.wpDataTablesWrapper
	a.DTTT_button
		font-size .85rem
		padding 0
		margin-right 0
		display inline-flex
		align-items center
		color white !important
		&:not(:last-child)
			margin-right 20px
		&:before
			margin-right 5px
		span
			position relative
			top -2px
